<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="carnero.princ"
	android:versionCode="3023"
	android:versionName="3.02.3">

	<uses-sdk
		android:minSdkVersion="14"
		android:targetSdkVersion="18"/>

	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

	<application
		android:label="@string/app_name"
		android:icon="@drawable/ic_launcher">

		<activity android:name="MainActivity"
			android:label="@string/app_name"
			android:icon="@drawable/ic_launcher"
			android:theme="@style/main">

			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<receiver android:name="carnero.princ.AlarmReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"/>
				<action android:name="carnero.princ.broadcast.Download"/>
			</intent-filter>
		</receiver>

		<service android:name="carnero.princ.DownloadService"/>

		<service android:name="carnero.princ.DashClockBeers"
			android:icon="@drawable/ic_dashclock"
			android:label="@string/app_name"
			android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA" >

			<intent-filter>
				<action android:name="com.google.android.apps.dashclock.Extension"/>
			</intent-filter>

			<meta-data
				android:name="protocolVersion"
				android:value="1"/>
			<meta-data
				android:name="description"
				android:value="@string/dashclock_label"/>
		</service>
	</application>
</manifest>
